@mixin break($width:959px) {
    @media screen and (max-width:$width){
        @content;
    }
}
@mixin height_width($height:auto,$width:auto) {
    height: $height;
    width: $width;
}


@mixin font_weight_size_height($weight:normal,$size:1em,$height:normal) {
    font-weight:$weight;
    font-size:$size;
    line-height:$height;  
}

@mixin width_margin($width:auto,$margin:auto){
    width:$width;
    margin: $margin;    
}



